.root-listCard {
  position: relative;
  .check {
    position: absolute;
    top: -30px;
    font-size: 16px;
    .ant-checkbox-inner {
      width: 16px;
      height: 16px;
      &::after {
        top: 2px;
        left: 5px;
      }
    }
    .ant-checkbox-indeterminate .ant-checkbox-inner {
      &::after {
        top: 6px;
        left: 3px;
      }
    }
  }
  .listRoot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -20px;
    margin-left: -20px;
    font-size: 14px;
    .spinLoading {
      position: absolute;
      width: 100%;
      padding-top: 145px;
      text-align: center;
    }
  }
  .loading {
    opacity: 0.7;
  }
  .displayNone {
    display: none;
  }
}
