.upload_section {
  margin: 10px 0;
  padding: 10px 15px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  .upload_section_top,
  .upload_section_middle,
  .upload_section_bottom {
    line-height: normal;
  }
  .upload_section_top {
    color: #0366d6;
  }
  .upload_section_middle {
    padding: 3px 0;
  }
  .upload_section_bottom {
    i {
      cursor: pointer;
    }
    .anticon-delete,
    .anticon-close,
    .anticon-paper-clip {
      margin-left: 5px;
    }
    i:hover {
      color: #0366d6;
    }
  }
}
