.j_signForm {
  .ipt_username,
  .ipt_password {
    input {
      width: 100%;
      height: 54px;
      padding: 0 20px;
      font-size: 20px;
      border: 1px solid #d9d9d9;
      border-radius: 6px;
    }
  }
  .has-error {
    input {
      border-color: #f5222d;
    }
  }
  .btnGroup .searchBtn {
    width: 100%;
    height: 54px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    background: #2c5b8f;
    border-radius: 6px;
  }
}
