.#{$projectPrefix}PSignIn{
  position: relative;
  height: 100%;
  &-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 58px;
    padding: 0 30px;
    text-align: left;
    background: #001529;
  }
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 400px;
    height: 368px;
    margin-top: -184px;
    margin-left: -200px;
    &-logo {
      width: 100%;
      text-align: center;
    }
    &-title {
      margin: 11px;
      color: #666;
      font-size: 24px;
    }
  }
  &-footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 0;
    width: 150px;
    height: 40px;
    margin-left: -75px;
  }
}
