.breadcrumb {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.43);
  line-height: 37px;
  span {
    .breadItem-separator {
      padding: 0 4px;
    }
  }
  span:last-child .breadItem-label {
    color: rgba(0, 0, 0, 0.64);
  }
  span:last-child .breadItem-separator {
    display: none;
  }
}
