.LBasicHeader {
  height: 56px;
  padding: 0 24px;
  color: #333;
  line-height: 56px;
  text-align: right;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  .create-order-smsLogList,
  .create-order-smsList {
    top: 12px;
    left: 30px;
    float: left;
    color: white;
    background: orange;
    &:hover,
    &:active,
    &:focus {
      color: white;
      border-color: orange;
    }
  }
  .create-order-orderDetail,
  .create-order-createOrder,
  .create-order-createOrg,
  .create-order-productInfo,
  .create-order-takeHistory,
  .create-order-orgDetail,
  .create-order-settlementDetail {
    top: 12px;
    left: 30px;
    float: left;
    &:hover {
      color: #40a9ff;
      border-color: #40a9ff;
    }
    &:active,
    &:focus {
      color: rgba(0, 0, 0, 0.65);
      border-color: #d9d9d9;
    }
  }
  .create-order-title,
  .create-org-title {
    position: absolute;
    left: 50%;
    width: 80px;
    margin-left: 75px;
    color: #333;
    font-size: 18px;
  }
}
