.createOrder-container{
    margin-top: 37px;
    padding: 30px 100px;
    background: white;
    .orderForm-item{
        margin-bottom: 10px;
    }
    .orderForm-item-name{
        margin-bottom: 5px;
    }
    .orderForm-item-service{
        margin: -5px 0 10px 0;
        .assessmentService, .teachingServices{
            color: red
        }
        .teachingServices{
            line-height: 24px;
            &.own{
                color: #666666;
                span{
                    color: #999999;
                    font-size: 12px;
                }
            }
        }
        .assessmentService.own{
            color: #666666;
            span{
                color: #999999;
                font-size: 12px;
            }
        }
    }
    .accounting-item{
        margin-bottom: 5px;
    }
    .accounting-item-type{
        margin-bottom: 15px;
    }
    .accounting-item-number{
        margin-bottom: 0px;
    }
    .number-container{
        &::after{
            content: '';
            display: block;
            clear: both;
        }
        .number-container-item{
            float: left;
            height: 30px;
            width: 90px;
            line-height: 30px;
            text-align: center;
            border: 1px solid lightgray;
            background: white;
            margin: 0 10px 10px 0;
            cursor: pointer;
            &.active{
                border-color: #3296BE;
                color: #3296BE;
            }
            &:hover{
                border-color: #3296BE;
                color: #3296BE;
            }
        }
    }
}