.upLoader_with_preview {
  .loader_trigger {
    padding: 0 8px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    cursor: pointer;
    i {
      margin-right: 8px;
      vertical-align: middle;
    }
  }
  .previewBtn {
    color: #449aef;
    border-color: #449aef;
  }
}
