.root-switch {
  margin: 30px 0;
  span {
    display: inline-block;
    float: right;
    width: 40px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      color: #1574d4;
      border-color: #1574d4;
    }
  }
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
.card {
  margin-right: 10px;
}
.table {
  font-size: 22px;
}
.active {
  color: #1574d4;
  border-color: #1574d4 !important;
}
