.home {
    height: 100%;
    background: #f5f5f5;
    overflow: hidden;
    .page-none{
        text-align: center;
        font-size: 30px;
        margin-top: 60px;
    }
    .menu {
        width: 200px;
        height: 100%;
        float: left;
    }
    .container {
        overflow: scroll;
        height: 100%;
    }
    .content {
        padding: 0 30px 30px 30px;
        overflow-x: scroll;
    }
    .subTitle {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.43);
        line-height: 37px;
        span {
            color: rgba(0, 0, 0, 0.64);
        }
    }



    .editor {
        background: #fff;
        padding: 30px 0 130px 0;
        .ant-form-item-control input{
            max-width: 250px;
        }
        .ant-input-group-wrapper {
            width: 300px;
            input {
                width: 100%;
            }
        }
        .ant-btn {
            margin-left: 60px;
        }
    }
    .ant-btn-primary {
        background: #3296BE
    }
    .footer {
        text-align: center;
        height: 100px;
        img {
            width: 150px;
            height: 40px;
        }
    }
    .contentTitle{
        font-size: 16px;
        color: rgba(0,0,0,.85);
        font-weight: 500;
        border-bottom: 1px solid #e9e9e9;
        padding-bottom: 1em;            
        margin-bottom: 1em;
        .promotionBtn{
            float: right;
            margin-top: -4px;
        }
    }
    .list {
        background: #fff;
        padding: 30px;
        .search {
            margin-bottom: 22px;
        }
        table .ant-btn {
            margin-left: 10px;
            margin-top: 10px;
        }
    }
    table td{
        max-width: 100px !important
    }
    h3 {
        text-align: center;
        font-size: 30px;
        margin-top: 30px;
    }
    form .ant-cascader-picker:only-child, form .ant-select:only-child {
        min-width: 100px;
        top: 0
    }
}
