.createPromotion-container{
    padding: 30px;
    background: white;
}
.create-order-promotionDetail{
    float: left;
    left: 30px;
    top: 12px;
}
.orderForm-container{
    margin-top: 40px;
    margin-bottom: 20px;
    .orderForm-item{
        margin-bottom: 8px;
        &.special div label{
            &::before{
                display: inline-block;
                margin-right: 4px;
                content: "*";
                font-family: SimSun;
                line-height: 1;
                font-size: 14px;
                color: #f5222d;
            }
            &::after{
                content: ''
            }
        }
        &.specialE div label, &.specialM div label{
            &::before{
                content: ''
            }
        }
        &.specialM div label, &.specialE div label{
            &::after{
                content: ''
            }
        }
    }
}
