:global {
  .self-left-back,
  .self-right-submit {
    position: absolute;
    top: 11px;
  }
  .self-right-submit {
    right: 30px;
  }
  .previewTitle {
    text-align: center;
    font-size: 18px;
  }
  .self-card {
    padding: 20px 0 0 0;
    width: 200px;
  }
  .noPassReason {
    height: auto !important;
    line-height: normal;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
