.sideMenu {
  .logo {
    height: 70px;
    background: #001529;
    padding: 20px 30px;
    img {
      width: 90px;
      height: 21px;
    }
  }
  //.ant-menu-submenu-title {
  //    font-size: 12px;
  //}
  //.ant-menu-item {
  //    font-size: 12px;
  //}
  //.ant-menu-submenu-inline>.ant-menu-submenu-title:after {
  //    font-size: 12px;
  //}
  .ant-menu-dark.ant-menu-inline .ant-menu-item-selected {
    background: #3296be;
  }
}
