.baseTable-wrapper {
  .table-search-wrapper,
  .pagWrapper {
    background: #fff;
  }
  .table-search-wrapper {
    padding: 30px;
    margin-bottom: 30px;
  }
  .pagWrapper {
    padding: 10px 0;
    margin-top: 20px;
    text-align: right;
  }
}
