:global {
  .displayNone {
    display: none;
  }
  .selfTable .ant-table {
    font-size: 14px;
  }
  .table-method {
    span {
      display: inline-block;
      color: #1574d4;
      padding: 0 5px;
      border-right: 1px solid #e9e9e9;
      cursor: pointer;
    }
    span:last-child {
      border: none;
    }
  }
  .previewTitle {
    text-align: center;
    font-size: 18px;
  }
  .videoPreviewModal {
    width: 964px !important ;
    height: 708px !important ;
    .ant-modal-body {
      height: 580px;
      overflow-y: auto;
      padding: 20px 70px 50px 70px;
    }
  }
  .cBoxContent {
    .ant-table-thead > tr > th {
      background: transparent;
    }
    .ant-table-tbody > tr > td {
      background: #f7f7f7;
    }
  }
}
