$minHeight: 650px;
$minWidth: 1280px;

$fff: #fff;
$loginBtn1: rgba(251, 49, 116, 1);
$loginBtn2: rgba(237, 80 , 30 , 1);

$item-default: #9B9B9B;
$item-selected: #E20024;
$item-hover: #FDE0E3;
$FB6271: #FB6271;
$EB3449: #EB3449;
$FB4154: #FB4154;

$mainSidebarWidth: 120px; // 页面左侧导航栏宽度

$headerHeight: 52px; // 页面顶部-高度
$helpUserWidth: 140px; //页面顶部-右侧-设置按钮和用户下拉框的总宽度
$tabChildHeight: 48px; // 页面右侧-2级tab-高度
$tabsTotalHeight: 100px; //  页面右侧-1级tab和2级tab总高度
$footerHeight: 42px; // 页面底部-高度

$fifty-px: 50px;
