.header {
    height: 56px;
    line-height: 56px;
    text-align: right;
    color: #333;
    background: #fff;
    padding: 0 24px;
    border-bottom: 1px solid #e9e9e9;
    .create-order-orderList{
        float: left;
        background: orange;
        color: white;
        left: 30px;
        top: 12px;
        &:hover, &:focus{
            border-color: orange;
            color: white;
        }
    } 
    .create-order-orderDetail, .create-order-createOrder{
        float: left;
        left: 30px;
        top: 12px;
    }
    .create-order-title{
        position: absolute;
        width: 80px;
        font-size: 18px;
        color: #333;
        left: 50%;
        margin-left: 75px;
    }
  
}
