.sideMenu {
  width: 200px;
  height: 100%;
  .logo {
    height: 70px;
    background: #001529;
    padding: 20px 30px;
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-item-selected {
    background: #3296be;
  }
}
