.root {
  position: relative;
}
.check {
  position: absolute;
  top: -30px;
  // :global {
  //   .ant-checkbox-inner {
  //     height: 16px;
  //     width: 16px;
  //     &::after {
  //       top: 2px;
  //       left: 5px;
  //     }
  //   }
}
.listRoot {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -2.5%;
  margin-right: -2.5%;
  font-size: 14px;
}
.loading {
  opacity: 0.7;
}
.displayNone {
  display: none;
}
.spinLoading {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 145px;
}
