.myIncome{
    padding: 30px;
    background: white;
    .myIncome-value{
        .myIncome-value-box{
            position: relative;
            display: inline-block;
            height: 100px;
            width: 24%;
            color: rgba(0, 0, 0, 0.43);
            h4{
                padding-top: 10px; 
                font-size: 18px;
            }
            .myIncome-type{
                position: absolute;
                top: -24px;
                right: 80px;
                width: 14px;                
                height: 14px;
                line-height: 14px;
                font-size: 12px;
                background: deepskyblue;
                color: white;
                text-align: center;
            }
        }
    }
}